<!DOCTYPE html>

{% load staticfiles %}

<html lang="en">

    <head>

        <meta charset="UTF-8">
        <title>Prismo</title>

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- jquery js -->
        <script src="//code.jquery.com/jquery-3.1.1.min.js"></script>
        <script src="//code.jquery.com/jquery-migrate-3.0.0.min.js"></script>

        <!-- Bootstrap Core CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <!-- Custom CSS -->
        <link rel="stylesheet" href="{% static 'prototype/css/base.css' %}">

    </head>

    <body>

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">
                        <img src="/static/prototype/images/navigation/logo_prismo.png" alt="logo_prismo">
                    </a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-left">
                        <li>
                            <img src="/static/prototype/images/navigation/prisme.png" alt="prisme">
                        </li>
                        <li>
                            <<img src="/static/prototype/images/navigation/network.png" alt="network">
                        </li>
                        <li>
                            <img src="/static/prototype/images/navigation/mission.png" alt="mission">
                        </li>
                    </ul>
                    <form class="nav navbar-form navbar-left">
                        <div class="form-group" style="display:inline;">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                            </div>
                        </div>
                    </form>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <img src="/static/prototype/images/navigation/messaging.png" alt="messaging">
                        </li>
                        <li>
                            <img src="/static/prototype/images/navigation/settings.png" alt="settings">
                        </li>
                        <li>
                            <img src="/static/prototype/images/navigation/info.png" alt="info">
                        </li>
                    </ul>
                </div> <!-- /.navbar-collapse -->
            </div> <!-- /.container -->
        </nav>

        <!-- Grid -->
        <div class="row">
            <div class="col-xs-12 col-sm-3">


                <div class="row">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-3 col-sm-3">

                                    <div class="card hovercard">
                                        <div class="cardheader">

                                        </div>
                                        <div class="avatar">
                                            <img alt="" src="http://lorempixel.com/100/100/people/9/">
                                        </div>
                                        <div class="info">
                                            <div class="title"> {{ student.first_name }} {{ student.name }} </div>
                                            <div class="desc">Passionate designer</div>
                                            <div class="desc">Curious developer</div>
                                            <div class="desc">Tech geek</div>
                                        </div>
                                        <div class="bottom">
                                            <a class="btn btn-primary btn-twitter btn-sm" href="https://twitter.com/webmaniac">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                            <a class="btn btn-danger btn-sm" rel="publisher"
                                               href="https://plus.google.com/+ahmshahnuralam">
                                                <i class="fa fa-google-plus"></i>
                                            </a>
                                            <a class="btn btn-primary btn-sm" rel="publisher"
                                               href="https://plus.google.com/shahnuralam">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                            <a class="btn btn-warning btn-sm" rel="publisher" href="https://plus.google.com/shahnuralam">
                                                <i class="fa fa-behance"></i>
                                            </a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>


            </div>
            <div class="col-xs-12 col-sm-6">
              {% block column_center %}
              {% endblock %}
            </div>
            <div class="col-xs-12 col-sm-3">
              {% block column_right %}
              {% endblock %}
            </div>
        </div>

    </body>

</html>