<!DOCTYPE html>

{% load staticfiles %}

<html lang="en">

    <head>

        <title>{{ student.first_name }} {{ student.name }}</title>

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- jquery js -->
        <script src="//code.jquery.com/jquery-3.1.1.min.js"></script>
        <script src="//code.jquery.com/jquery-migrate-3.0.0.min.js"></script>

        <!-- Bootstrap Core CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <!-- Custom CSS -->
        <link rel="stylesheet" href="{% static 'prototype/css/logo_navigation.css' %}">

    </head>

    <body>

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">
                        <img src="http://placehold.it/150x50&text=Logo" alt="">
                    </a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-left">
                        <li>
                            <a href="#">Prisme</a>
                        </li>
                        <li>
                            <a href="#">Missions</a>
                        </li>
                        <li>
                            <a href="#">Réseau</a>
                        </li>
                    </ul>
                    <form class="nav navbar-form navbar-left">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search">
                        </div>
                    </form>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="#">Paramètres</a>
                        </li>
                    </ul>
                </div> <!-- /.navbar-collapse -->
            </div> <!-- /.container -->
        </nav>

        <!-- Grid -->
        <div class="row">
          <div class="col-xs-12 col-sm-3">.col-xs-6 .col-sm-3</div>
          <div class="col-xs-12 col-sm-6">.col-xs-6 .col-sm-6</div>
          <div class="col-xs-12 col-sm-3">.col-xs-6 .col-sm-3</div>

        </div>

    </body>
</html>
